<%- model_class = Litigante -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:case_id) %>:</strong></dt>
  <dd><%= @litigante.case_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:participante) %>:</strong></dt>
  <dd><%= @litigante.participante %></dd>
  <dt><strong><%= model_class.human_attribute_name(:rut) %>:</strong></dt>
  <dd><%= @litigante.rut %></dd>
  <dt><strong><%= model_class.human_attribute_name(:persona) %>:</strong></dt>
  <dd><%= @litigante.persona %></dd>
  <dt><strong><%= model_class.human_attribute_name(:nombre) %>:</strong></dt>
  <dd><%= @litigante.nombre %></dd>
</dl>