<%- model_class = Case -%>
<div class="page-header">
  <h1><%= @case.caratula %> <small><%= @case.rol %></small></h1>
</div>

<div class="row">
  <div class="col-md-9">
    <dl class="dl-horizontal">
      <dt><strong><%= model_class.human_attribute_name(:rol) %>:</strong></dt>
      <dd><%= @case.rol %></dd>
      <dt><strong><%= model_class.human_attribute_name(:fecha) %>:</strong></dt>
      <dd><%= date_format(@case.fecha) %></dd>
      <dt><strong><%= model_class.human_attribute_name(:tribunal) %>:</strong></dt>
      <dd><%= @case.tribunal %></dd>
      <dt><strong><%= model_class.human_attribute_name(:caratula) %>:</strong></dt>
      <dd><%= @case.caratula %></dd>
      <dt><strong>Portal:</strong></dt>
      <dd><%= @case.info_type %></dd>
      <% if not @case.info_id.nil? %>
        <% info_class_name = @case.info_type %>
        <% if info_class_name == InfoCivil.to_s %>
        <% elsif info_class_name == InfoCorte.to_s %>
          <dt><strong><%= info_class.human_attribute_name(:numero_ingreso) %>:</strong></dt>
          <dd><%= @case.info.numero_ingreso %></dd>
          <dt><strong><%= info_class.human_attribute_name(:corte) %>:</strong></dt>
          <dd><%= @case.info.corte %></dd>
          <dt><strong><%= info_class.human_attribute_name(:ubicacion) %>:</strong></dt>
          <dd><%= @case.info.ubicacion %></dd>
          <dt><strong><%= info_class.human_attribute_name(:fecha_ubicacion) %>:</strong></dt>
          <dd><%= date_format(@case.info.fecha_ubicacion) %></dd>
        <% end %>
      <% elsif info_class_name == InfoLaboral.to_s %>
      <dt><strong><%= info_class.human_attribute_name(:rit) %>:</strong></dt>
      <dd><%= @case.info.rit %></dd>
      <dt><strong><%= info_class.human_attribute_name(:ruc) %>:</strong></dt>
      <dd><%= @case.info.ruc %></dd>
      <% elsif info_class_name == InfoSuprema.to_s %>
          <dt><strong><%= info_class.human_attribute_name(:numero_ingreso) %>:</strong></dt>
          <dd><%= @case.info.numero_ingreso %></dd>
          <dt><strong><%= info_class.human_attribute_name(:tipo_recurso) %>:</strong></dt>
          <dd><%= @case.info.tipo_recurso %></dd>
          <dt><strong><%= info_class.human_attribute_name(:ubicacion) %>:</strong></dt>
          <dd><%= @case.info.ubicacion %></dd>
          <dt><strong><%= info_class.human_attribute_name(:fecha_ubicacion) %>:</strong></dt>
          <dd><%= date_format(@case.info.fecha_ubicacion) %></dd>
          <dt><strong><%= info_class.human_attribute_name(:corte) %>:</strong></dt>
          <dd><%= @case.info.corte %></dd>
      <% end %>
    </dl>
  </div>
  <div class="col-md-2">
    <div class="perfil-botones">
      <%= render partial: 'shared/actions_case',
                 locals: {
                         data: @case,
                 }
      %>
    </div>
  </div>
</div>

<div ng-controller="CaseShowController as case_show">
  <input type="hidden" id="case_show_case_id" value="<%= @case.id %>">
  <!-- Nav tabs -->
  <ul class="nav nav-pills nav-justified">
    <li ng-class="{ active: case_show.isTabActive(0)}"><a href="" ng-click="case_show.tabSelect(0)">Litigantes</a></li>
    <% if @case.info_type == 'Civil' and not @case.info_id.nil?%>
    <li ng-class="{ active: case_show.isTabActive(1)}"><a href="" ng-click="case_show.tabSelect(1)">Receptores</a></li>
    <% end %>
    </ul>




  <!-- Tab panes -->
  <div class="case-show-tab-content">
    <div ng-show="case_show.isTabActive(0)">
      <div ng-controller="UserShowCasesController as user_cases">
        <%= render partial: 'shared/table_generator',
                   locals: {
                           model_class: Litigante,
                           data: @case.litigantes,
                           attributes: [:rut, :persona, :nombre, :participante],
                           only_table: true,
                           hide_actions: true
                   }
        %>
      </div>
    </div>
    <% if @case.info_type == 'Civil' and not @case.info_id.nil? %>
    <div ng-show="case_show.isTabActive(1)">
      <%= render partial: 'shared/table_generator',
                 locals: {
                         model_class: Receptor,
                         data: @case.info.receptores,
                         attributes: [:rut, :persona, :nombre, :participante],
                         only_table: true,
                         hide_actions: true
                 }
      %>
    </div>
    <% end %>
  </div>
</div>