<%- model_class = Case -%>
<div class="page-header">
  <h1><%= @case.caratula %> <small><%= @case.rol %></small></h1>
</div>

<div class="row">
  <div class="col-md-9">
    <dl class="dl-horizontal">
      <dt><strong><%= model_class.human_attribute_name(:rol) %>:</strong></dt>
      <dd><%= @case.rol %></dd>
      <dt><strong><%= model_class.human_attribute_name(:fecha) %>:</strong></dt>
      <dd><%= date_format(@case.fecha) %></dd>
      <dt><strong><%= model_class.human_attribute_name(:tribunal) %>:</strong></dt>
      <dd><%= @case.tribunal %></dd>
      <dt><strong><%= model_class.human_attribute_name(:caratula) %>:</strong></dt>
      <dd><%= @case.caratula %></dd>
      <dt><strong><%= model_class.human_attribute_name(:info_id) %>:</strong></dt>
      <dd><%= @case.info_id %></dd>
      <dt><strong><%= model_class.human_attribute_name(:info_type) %>:</strong></dt>
      <dd><%= @case.info_type %></dd>
    </dl>
  </div>
  <div class="col-md-2">
    <div class="perfil-botones">
      <%= render partial: 'shared/actions_case',
                 locals: {
                         data: @case,
                 }
      %>
    </div>
  </div>
</div>

  <h2>Litigantes</h2>
  <%= render partial: 'shared/table_generator',
             locals: {
                     model_class: Litigante,
                     data: @case.litigantes,
                     attributes: [:rut, :persona, :nombre, :participante],
                     only_table: true,
                     hide_actions: true
             }
  %>
</div>