<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>SuitCase | Sistema se seguimiento de casos del poder judicial</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= javascript_include_tag '//www.google.com/jsapi', 'chartkick' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'briefcase_32.png' %>
</head>
<body>
<% if user_signed_in? %>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        SuitCase
      </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
      <li class="notificacionesAlert has-tooltip" data-toggle="tooltip" title="Notificaciones" data-placement="bottom"><a href="#"><span class="fa fa-bell fa-fw" aria-hidden="true"></span>&nbsp;0</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= current_user.inspect %> <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><%= link_to('<i class="fa fa-user fw"></i>&nbsp;Mi Perfil'.html_safe, current_user)%></li>
          <li><%= link_to('<i class="fa fa-sign-out fw"></i>&nbsp;Cerrar Sesión'.html_safe, destroy_user_session_path, :method => :delete)%></li>
        </ul>
      </li>
    </ul>
    </div>
  </div>
</nav>
<div id="wrapper">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
          <li <%= printIfActivePage?(root_path) %>><a href="<%= root_path %>"><i class="fa fa-users fa-fw"></i>&nbsp;DashBoard</a></li>
          <li <%= printIfActivePage?(cases_path) %>><a href="<%= cases_path %>"><i class="fa fa-briefcase fa-fw"></i>&nbsp;Casos</a></li>
          <li <%= printIfActivePage?(clients_path) %>><a href="<%= clients_path %>"><i class="fa fa-users fa-fw"></i>&nbsp;Clientes</a></li>
        </ul>
        <% if current_user.role? :admin%>
            <hr>
            <ul class="nav nav-sidebar">
              <li <%= printIfActivePage?(users_path) %>><a href="<%= users_path %>"><i class="fa fa-user fa-fw"></i>&nbsp;Usuarios</a></li>
            </ul>
        <% end %>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
<% end %>
<%= render partial: 'shared/errors' %>
<%= yield %>
<% if user_signed_in? %>
        </div>
    </div>
</div>
<% end %>
</body>
</html>
