<%
=begin
    data: dato de tipo Case
=end
%>
<div class="actions-buttons">
<%= form_for current_user.case_users.build(case_id: data.id),
           html: {
                   class: 'form-add-user-case' + (current_user.following_case?(data.id) ? ' hidden' : ''),
                   'data-type' => 'json'
           } ,
           update: { success: "response", failure: "error"},
           remote: true do |f| %>
  <%= f.hidden_field :case_id %>
  <%= f.hidden_field :user_id %>
  <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
      <i class="fa fa-plus"></i> Adjudicar
  <% end %>
<% end %>

<%= form_for current_user.case_users.build(case_id: data.id),
           url: case_case_user_path(data) ,
           html: {
                   method: :delete,
                   class: 'form-remove-user-case' + (current_user.following_case?(data.id) ? '' : ' hidden'),
                   'data-type' => 'json'
           },
           update: { success: "response", failure: "error"},
           remote: true do |f| %>
  <%= f.hidden_field :case_id %>
  <%= button_tag(type: 'submit', class: "btn btn-primary btn-danger") do %>
      <i class="fa fa-minus"></i> Dejar caso
  <% end %>
<% end %>

<%= form_for current_user.case_records.build(case_id: data.id),
           html: {
                   class: 'form-add-record-case' + (current_user.recording_case?(data.id) ? ' hidden' : ''),
                   'data-type' => 'json'
           } ,
           update: { success: "response", failure: "error"},
           remote: true do |f| %>
  <%= f.hidden_field :case_id %>
  <%= f.hidden_field :user_id %>
  <%= button_tag(type: 'submit', class: "btn btn-primary btn-block") do %>
      <i class="fa fa-circle-o"></i> Trackear
  <% end %>
<% end %>

<%= form_for current_user.case_records.build(case_id: data.id),
           url: case_case_record_path(data) ,
           html: {
                   method: :delete,
                   class: 'form-remove-record-case' + (current_user.recording_case?(data.id) ? '' : ' hidden'),
                   'data-type' => 'json'
           },
           update: { success: "response", failure: "error"},
           remote: true do |f| %>
  <%= f.hidden_field :case_id %>
  <%= button_tag(type: 'submit', class: "btn btn-primary btn-danger") do %>
      <i class="fa fa-circle"></i> No trackear
  <% end %>
<% end %>
</div>