<%
=begin
    Necesitamos la variable
    model_class: modelo a imprimir
    data: lista con elementos a imprimir
    attributes: lista con diccionarios de atributos a imprimir
    hide_add: si se esconde el boton add, default(false)
    only_table: si esconde titulo y boton add, default(false)
    hide_actions: si escondo acciones, default(false)
=end

if not defined? only_table or not only_table %>
<div class="page-header">
  <h1>
    <%=t '.title', :default => model_class.model_name.human.pluralize.titleize %>
    <% if not defined? hide_add or not hide_add %>
        <%= link_to '+',
                    {
                            :controller => model_class.model_name.plural,
                            :action => :new
                    },
                    :class => 'btn btn-success' %>
    <% end %>
  </h1>
</div>
<% end %>
<table class="table table-striped">
  <thead>
  <tr>
    <% attributes.each do |x| %>
        <th><%= model_class.human_attribute_name(x) %></th>
    <% end %>
    <% if not defined? hide_actions or hide_actions == false %>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% data.each do |d| %>
      <tr>
        <% attributes.each do |attribute| %>
            <% if attribute == attributes.first %>
                <th><%= link_to d[attribute], d%></th>
            <% else %>
                <% if d.column_for_attribute(attribute).type == :boolean %>
                    <td><%=  ( d[attribute] ? 'Verdadero' : 'Falso') %></td>
                <% elsif d.column_for_attribute(attribute).type == :datetime %>
                    <td><%=  date_format( d[attribute] ) %></td>
                <% else %>
                    <td><%= d[attribute] %></td>
                <% end %>
            <% end %>
        <% end %>
          <% if not defined? hide_actions or hide_actions == false %>
            <td>
              <% if not model_class == Case %>
                  <% if can? :show, d %>
                      <%= link_to d, id: 'boton-icon' do %>
                          <i class="fa fa-eye fa-lg"></i>
                      <% end %>
                  <% end %>
                  <% if can? :edit, d %>
                      <%= link_to [:edit, d], id: 'boton-icon' do %>
                          <i class="fa fa-pencil fa-lg"></i>
                      <% end %>
                  <% end %>
                  <% if can? :destroy, d %>
                      <%= link_to d,
                                  :method => 'delete',
                                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                                  :id => 'boton-icon' do %>
                          <i class="fa fa-trash-o fa-lg"></i>
                      <% end %>
                  <% end %>
              <% else %>
                  <%= render partial: 'shared/actions_case',
                             locals: {
                                     data: d,
                             }
                  %>
              <% end %>
            </td>
          <% end %>
      </tr>
  <% end %>
  </tbody>
</table>