<%= form_for current_user.possible_names.build,
             :html => { :class => "form-horizontal possible_name" } do |f| %>

    <% if f.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(f.errors.count, "error", "errores") %> no <%= (f.errors.count > 1) ? "permitieron" : "permitio"  %> guardar el nombre posible.</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% f.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% if current_user.role? :secretary %>
  <div class="form-group">
    <%= f.label :user_id, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :user_id, :class => 'form-control' %>
    </div>
    <%= error_span(f[:user_id]) %>
  </div>
  <% else %>
    <%= f.hidden_field :user_id %>
  <% end %>
  <div class="form-group">
    <%= f.label :name, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%= error_span(f[:name]) %>
  </div>
  <div class="form-group">
    <%= f.label :first_lastname, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :first_lastname, :class => 'form-control' %>
    </div>
    <%= error_span(f[:first_lastname]) %>
  </div>
  <div class="form-group">
    <%= f.label :second_lastname, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :second_lastname, :class => 'form-control' %>
    </div>
    <%= error_span(f[:second_lastname]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            possible_names_path, :class => 'btn btn-default' %>

<% end %>
