<% @possible_name =  current_user.possible_names.build %>
<%= form_for @possible_name,
             :html => { :class => "form-horizontal possible_name" } do |f| %>

    <% if @possible_name.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@possible_name.errors.count, "error", "errores") %> no <%= (@possible_name.errors.count > 1) ? "permitieron" : "permitio"  %> guardar el nombre posible.</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @possible_name.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% if not current_user.role? :secretary %>
  <div class="form-group">
    <%= f.label :user_id, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= autocomplete_field_tag @possible_name.user.inspect, '',
                               autocomplete_user_name_possible_names_path,
                               :class => 'form-control',
                               :id_element => '#possible_name_user_id'%>
      <%= f.hidden_field :user_id %>
    </div>
    <%= error_span(@possible_name[:user_id]) %>
  </div>
  <% else %>
    <%= f.hidden_field :user_id %>
  <% end %>
  <div class="form-group">
    <%= f.label :name, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%= error_span(@possible_name[:name]) %>
  </div>
  <div class="form-group">
    <%= f.label :first_lastname, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :first_lastname, :class => 'form-control' %>
    </div>
    <%= error_span(@possible_name[:first_lastname]) %>
  </div>
  <div class="form-group">
    <%= f.label :second_lastname, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :second_lastname, :class => 'form-control' %>
    </div>
    <%= error_span(@possible_name[:second_lastname]) %>
  </div>

    <div class="text-center">
      <div class="col-sm-6">
        <%= f.submit nil, :class => 'btn btn-primary btn-block' %>
      </div>
      <div class="col-sm-6">
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                    possible_names_path,
                    :class => 'btn btn-default btn-block' %>
      </div>
    </div>

<% end %>
