<%- model_class = PossibleName -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>
<div class="row">
  <div class="col-md-7 col-md-offset-3">
    <dl class="dl-horizontal">
      <dt><strong><%= model_class.human_attribute_name(:user) %>:</strong></dt>
      <dd><%= @possible_name.user.inspect %></dd>
      <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
      <dd><%= @possible_name.name %></dd>
      <dt><strong><%= model_class.human_attribute_name(:first_lastname) %>:</strong></dt>
      <dd><%= @possible_name.first_lastname %></dd>
      <dt><strong><%= model_class.human_attribute_name(:second_lastname) %>:</strong></dt>
      <dd><%= @possible_name.second_lastname %></dd>
    </dl>
  </div>
  <div class="col-md-2">

    <div class="perfil-botones">
      <% if can? :edit, @possible_name %>
          <%= link_to edit_possible_name_path(@possible_name), id: 'boton-icon' do %>
              <i class="fa fa-pencil fa-3x"></i>
          <% end %>
      <% end %>
      <% if can? :destroy, @possible_name %>
          <%= link_to possible_names_path(@possible_name),
                      :method => 'delete',
                      :id => 'boton-icon',
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } do %>
              <i class="fa fa-trash-o fa-3x"></i>
          <% end %>
      <% end %>
    </div>
  </div>
</div>