<%= form_for @client, :html => { :class => "form-horizontal client" } do |f| %>

    <% if @client.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@client.errors.count, "error", "errores") %> no <%= (@client.errors.count > 1) ? "permitieron" : "permitio"  %> guardar el cliente.</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @client.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>


  <div class="form-group">
    <%= f.label :is_company, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.check_box :is_company, :class => 'form-control' %>
      <small>Indica aqui si el cliente es una compañia o no lo es</small>
    </div>
    <%= error_span(@client[:company]) %>
  </div>
  <div class="form-group">
    <%= f.label :name, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
  </div>
  <div id="form-company-disappear">
    <div class="form-group">
      <%= f.label :first_lastname, :class => 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_field :first_lastname, :class => 'form-control' %>
      </div>
      <%= error_span(@client[:first_lastname]) %>
    </div>
    <div class="form-group ">
      <%= f.label :second_lastname, :class => 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_field :second_lastname, :class => 'form-control' %>
      </div>
      <%= error_span(@client[:second_lastname]) %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :rut, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :rut, :class => 'form-control' %>
      <%= error_span(@client[:rut]) %>
    </div>

  </div>

  <div class="text-center">
    <div class="col-sm-6">
      <%= f.submit nil, :class => 'btn btn-primary btn-block' %>
    </div>
    <div class="col-sm-6">
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  clients_path,
                  :class => 'btn btn-default btn-block' %>
    </div>
  </div>

<% end %>
